body {
    font-family: Inter, sans-serif;
    font-style: normal;
}

/*header*/

.header__text-inner {
    width: 60%;
}

.header {
    height: 496px;
    background-image: url(/assets/images/page4/Rectangle\ 4.png);
    width: 100%;
    max-width: 100%;
}

.header__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
}

.link {
    text-decoration: none;
    color: white;
    padding: 25px;
    font-size: 16px;
    font-family: Inter, sans-serif;
}

.link:hover {
    text-decoration: underline;
    color: white;
}

.header__btn {
    padding: 15px;
    margin: 10px;
    color: white;
    background-color: Transparent;
    color: white;
    font-family: 'Inter', sans-serif;
    border: 1px solid #C1D3DE;
    box-sizing: border-box;
    border-radius: 12px;
}

.header__btn-clr {
    color: #C1D3DE;
}

.header__text {
    color: white;
    margin-top: 50px;
    margin-left: 200px;
}

.header__h1 {
    font-size: 68px;
    font-weight: 900;
}

.header__p {
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
}

/*search*/
.info {
    background-color: rgba(237, 244, 250, 1);
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    color: #242A56;
    display: flex;
    justify-content: center;

}


.info__logo {
    background-color: rgba(251, 247, 241, 1);
    display: flex;
    justify-content: space-around;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    padding: 10px 10px 10px 10px;
}

.info__container {
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.clients__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.containericon,
.about-ads {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*How we work*/

.how-we-work__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.how-we-work__text {
    display: flex;
    border-top: solid rgba(193, 211, 222, 1);
}

.how-we-work__logo {
    padding-right: 20px;
}

/*price*/

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.price__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price__table_blue {
    background-color: rgba(237, 244, 250, 1)
}

/*difference*/



.main-difference__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-difference__text,
.main-difference__inner-container {
    margin-top: 20px;
}

.main-difference__inner-container {
    width: 73%;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

.main-difference__container {
    padding-top: 30px;
    padding-bottom: 30px;
}


.main-difference__heading {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.main-difference__inner-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.main-difference__inner-container div {
    border-top: 1px solid #8B9BAB;
    width: 33%;
}

.main-difference {
    background-color: #393A56;
    color: white;
}

.main-difference__inner-container img {
    padding: 20px;
}

.main-difference__container-small {
    border: solid black;


    /*FAA*/

    /*clients-trust*/