.main-about,
.why-we,
.main-numbers {
    width: 73%;
    margin: 0 auto;
    border: 1px solid blue;
}

.main-about-us {
    background-color: #EDF4FA;
}

.header {
    height: 496px;
    background-image: url(/assets/images/page5/about_us_header.png);
    width: 100%;
    max-width: 100%;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.header__nav {
    display: flex;
    justify-content: end;
}

.link {
    text-decoration: none;
    color: white;
    padding: 25px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.link:hover {
    text-decoration: underline;
}

.header__btn {
    padding: 15px;
    margin: 10px;
    color: white;
    background-color: Transparent;
    color: white;
    font-family: 'Inter', sans-serif;
    border: 1px solid #C1D3DE;
    box-sizing: border-box;
    border-radius: 12px;
}

.header__btn-clr {
    color: #C1D3DE;
}

.header__text {
    color: white;
}

.header__about-us-text {
    width: 560px;
    height: 163px;
    padding-left: 261px;
}

.header__h1 {
    font-family: 'Inter', sans-serif;
    font-size: 68px;
}

.header__p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.main-about {
    background-color: #EDF4FA;
}

.main-about__h2 {
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    color: #242A56;
}

.main-about-text {
    font-family: 'Inter', sans-serif;
    color: #393A56;
}

.main-about-back {
    background-color: #FBF7F1;
    height: 116px;
    border: 1px solid #C1D3DE;
    border-radius: 12px;
}

.main-numbers-bg {
    color: white;
    background-color: #393A56;
    height: 328px;
}



.main-numbers {
    display: flex;
}

.main_numbers-text {
    width: 800px;
    height: 132px;
}

.main-numbers__h4 {
    font-size: 38px;
    font-family: 'Inter', sans-serif;
}

.main-numbers__p {
    font-size: 26px;
    font-family: 'Inter', sans-serif;
}

.main__numbers-column {
    display: flex;
    align-items: center;


}

.number {
    font-size: 68px;
    font-family: 'Inter', sans-serif;
    padding-bottom: 24px;
    padding: 30px
    ;
}

.number-text {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}