.header-main,
.form,
.main-princ__container,
.main-prognose__container,
.our-works,
.main-trust__container,
.footer__container {
    width: 73%;
    margin: 0 auto;
    /* border: 1px solid blue; */
}

.header {
    height: 700px;
    background-image: url(/assets/images/page6/head_page6.png);
    width: 100%;
    max-width: 100%;
}


.header__nav-container {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 24px;
}

.link {
    text-decoration: none;
    color: white;
    padding: 18px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.link:hover {
    text-decoration: underline;
    color: white
}

.header__btn {
    padding: 15px;
    margin: 10px;
    color: white;
    background-color: Transparent;
    font-family: 'Inter', sans-serif;
    border: 1px solid #C1D3DE;
    box-sizing: border-box;
    border-radius: 12px;
}

.header__btn-clr {
    color: #C1D3DE;
    margin-right: 30px;
}



.header__text {
    color: white;
}

.header-text__container {
    width: 90%;
    max-width: 90%;
    padding-top: 60px;
}

.header-text__h2 {
    font-weight: 900;
    font-size: 38px;
    font-family: 'Inter', sans-serif;
}

.header-text__h1 {
    font-weight: 900;
    font-size: 68px;
    font-family: 'Inter', sans-serif;
}

.header-text__p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.header-main {
    display: flex;
    color: white;
    padding-top: 80px;

}



.header__form-container {
    background-color: #376FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-top: 60px;
    padding-bottom: 45px;
}

.header__input {
    background: #376FFF;
    border: 1px solid #C1D3DE;
    border-radius: 5px;
    height: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #C1D3DE;
    width: 90%;
}

.header__input-big {
    height: 120px;
}

.header__h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    color: #FFFFFF;
}

.header__button {
    background: #FFFFFF;
    border-radius: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    color: #376FFF;
    width: 208px;
    height: 60px;
}

.header__vector-img {
    margin-left: 5px;
}

.header__checkbox {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: #C1D3DE;
}

.header__link {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: #C1D3DE;
}

.header__container-for-button {
    display: flex;
    align-items: center;
}

.header__div-for-input {
    margin-bottom: 10px;
}

.header__checkbox-img {
    margin-left: 10px;
    margin-right: 10px;
}


.main-princ {
    background-color: #EDF4FA;
}

.main-princ__container {
    display: flex;
    padding-top: 40px;
    padding-bottom: 60px;
}

.main-princ__h3 {
    font-size: 38px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

.R-400 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.main-princ-p2 {
    background-color: #FBF7F1;
    border: 1px solid #C1D3DE;
    border-radius: 12px;
    padding: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}





.main-prognose-bg {
    background-color: #393A56;
}

.main-prognose__container {
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-prognose__h4 {
    max-width: 90%;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
}

.main-prognose__inner-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 40px;
}

.col1,
.col2 {
    border-top: 1px solid #8B9BAB;
}

.col2 {
margin-left: 90px;
}

.main-prognose__header3 {
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
.main-prognose__text {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.main-prognose-btn {
    color: #FFFFFF;
    background-color: #376FFF;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    font-style: bold;
    font-weight: 700;
    width: 279px;
    height: 60px;

}


/*our-works*/

.our-works-bg {
    background-color: #EDF4FA;
}
.our-works {
    padding-top: 40px;
    padding-bottom: 60px;
}
.our-works-ph {
    border-radius: 10px;
    max-width: 100%;
}
.our-works__h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 38px;
} 
.our-works__text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 28px;
}
.our-works-photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 25px;
}


/*main-trust*/
.main-trust__container {
    padding-top: 40px;
    padding-bottom: 60px;
}
.main-trust__images img {
    /* margin: 10px; */
    max-width: 180px;
}

.main-trust__h2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

.main-trust__images {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 10px;

}

.main-trust__telephon-container {
    display: flex;
    background-color: #376FFF;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
}

.main-trust__telephon {
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-decoration: underline;
}

.main-trust__h2-white {
    font-size: 28px;
    font-weight: 900;
    color: white;
}

.main-trust__p {
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

.main-trust__telephon-container div {
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-trust__telephon-text {
    max-width: 40%;
}


.footer {
    background-color: rgba(237, 244, 250, 1);
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__container {
    width: 73%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    align-self: center;
}

.footer__container-left {
    display: flex;
    flex-direction: column;
}

.footer__innercontainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-top: 20px;
}

.footer__text {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
}

.footer__text-grey {
    color: #8B9BAB;
}

.footer__text-blue {
    text-decoration-line: underline;
    color: #376FFF;
}

.footer__text-dark {
    color: #393A56;
}

.text-blue {
    padding-top: 35px;
}

.footer__text-bottom {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: #8B9BAB;
}

.footer__img {
    border-radius: 10px;
}

.footer__form {
    background-color: #376FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-top: 60px;

}

.footer__input {
    background: #376FFF;
    border: 2px solid #C1D3DE;
    border-radius: 12px;
    height: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #C1D3DE;
    width: 90%;

}

.footer__input-big {
    height: 120px;
    padding-top: 10px;
}

.footer__header {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    color: #FFFFFF;
}

.footer__form-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.footer__button {
    background: #FFFFFF;
    border-radius: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    color: #376FFF;
    width: 208px;
    height: 60px;
}

.footer__checkobox {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: #C1D3DE;
}


.footer__link {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: #C1D3DE;
}

.footer__container-for-button {
    display: flex;
    align-items: center;


}

.footer__div-for-input {
    margin-bottom: 10px;
}

.footer__checkbox-img {
    margin-left: 10px;
    margin-right: 10px;
}