/*header из smm*/

.header__text-inner {
    width: 60%;
}

.header {
    height: 496px;
    background-image: url(/assets/images/page1/Rectangle\ 4.png);
    width: 100%;
    max-width: 100%;
}

.header__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
}

.link {
    text-decoration: none;
    color: white;
    padding: 25px;
    font-size: 16px;
    font-family: Inter, sans-serif;
}

.link:hover {
    text-decoration: underline;
    color: white;
}

.header__btn {
    padding: 15px;
    margin: 10px;
    color: white;
    background-color: Transparent;
    color: white;
    font-family: 'Inter', sans-serif;
    border: 1px solid #C1D3DE;
    box-sizing: border-box;
    border-radius: 12px;
}

.header__btn-clr {
    color: #C1D3DE;
}

.header__text {
    color: white;
    margin-top: 50px;
    margin-left: 200px;
}

.header__h1 {
    font-size: 68px;
    font-weight: 900;
}

.header__p {
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
}


/*info*/
.info {
    background-color: rgba(237, 244, 250, 1);
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    color: #242A56;
    display: flex;
    justify-content: center;

}


.info__logo {
    background-color: rgba(251, 247, 241, 1);
    display: flex;
    justify-content: space-around;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

.info__container {
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.clients__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    border: 1px solid #C1D3DE;
    border-radius: 12px;
    padding: 30px 30px 30px 30px;
}

.clients__icon {
    display: flex;
    width: 73%;
    justify-content: center;
    align-items: center;
}

.containericon,
.about-ads {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
}

/*price*/
.price {
    background-color: rgba(237, 244, 250, 1);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.price__container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price__container-tables {
    display: grid;
    grid-template-columns: 33% 1fr 1fr;
    grid-gap: 20px
}

.price__line {
    border-top: rgba(193, 211, 222, 1) solid;
    margin-top: 0%;
    margin-bottom: 0%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;

}


.bottom-line {
    border-bottom: rgba(193, 211, 222, 1) solid;
    padding-bottom: 20px;
}

.line-white {
    background-color: #FFFFFF;
}

.line-blue {
    background-color: rgba(237, 244, 250, 1);
}

.price__container-table-second {
    background: #FFFFFF;
    border: 1px solid #C1D3DE;
    border-radius: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: #393A56;
}

.price__container-table-first {
    padding-top: 56%;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    color: #393A56;
}

.price__table-header {
    padding-left: 10px;
    padding-right: 10px;

}

.price__button {
    width: 60%;
    height: 40px;
    background: #376FFF;
    border-radius: 12px;
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.price-text {
    display: flex;
    justify-content: flex-start;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: #393A56;
    background: #EDF4FA;
    border: 1px solid #C1D3DE;
    border-radius: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.price__icon {
    margin-right: 20px;
}

/*about-ads*/
.about-ads__cards {
    width: 73%;

}

.about-ads__card {
    display: flex;
    justify-content: center;

}

.about-ads__img {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}

.h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
}

.about-adds__text {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}



/* из smm */


.main-offer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.main-offer__text,
.main-offer__inner-container {
    margin-top: 20px;
}

.main-offer__inner-container {
    width: 73%;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

.main-offer__container {
    padding-top: 30px;
    padding-bottom: 30px;
}


.main-offer__heading {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.main-offer__inner-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.main-offer__inner-container div {
    border-top: 1px solid #8B9BAB;
    width: 20%;
}

.main-offer {
    background-color: #393A56;
    color: white;
}

.main-offer__inner-container img {
    padding: 20px;
}

.main-punkts__inner-container {
    border-top: 1px solid rgba(193, 211, 222, 1);
}

.main-punkts {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-punkts__container {
    width: 73%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;

}

.main-punkts__inner-container {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    padding-top: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

.main-result {
    background-color: rgba(237, 244, 250, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-result__container {
    width: 73%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.main-result__icon-container {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-gap: 20px;
}

.main-result__h3 {
    margin-top: 0;
}



/*main-trust*/


.main-trust__images img {
    /* margin: 10px; */
    max-width: 180px;
}

.main-trust__h2 {
    text-align: center;
}

.main-trust__images {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 10px;

}

.main-trust__telephon-container {
    display: flex;
    background-color: #376FFF;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
}

.main-trust__telephon {
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-decoration: underline;
}

.main-trust__h2-white {
    font-size: 28px;
    font-weight: 900;
    color: white;
}

.main-trust__p {
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

.main-trust__telephon-container div {
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-trust__telephon-text {
    max-width: 40%;
}


/*Здесь начинаются стили для футера*/

.footer {
    background-color: rgba(237, 244, 250, 1);
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__container {
    width: 73%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    align-self: center;
}

.footer__container-left {
    display: flex;
    flex-direction: column;
}

.footer__innercontainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.footer__text {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
}

.footer__text-grey {
    color: #8B9BAB;
}

.footer__text-blue {
    text-decoration-line: underline;
    color: #376FFF;
}

.footer__text-dark {
    color: #393A56;
}

.text-blue {
    padding-top: 35px;
}

.footer__text-bottom {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: #8B9BAB;
}

.footer__img {
    border-radius: 10px;
}

.footer__form {
    background-color: #376FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-top: 60px;

}

.footer__input {
    background: #376FFF;
    border: 2px solid #C1D3DE;
    border-radius: 12px;
    height: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #C1D3DE;
    width: 90%;

}

.footer__input_big {
    height: 120px;
    padding-top: 10px;
}

.footer__header {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    color: #FFFFFF;
}

.footer__form-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.footer__button {
    background: #FFFFFF;
    border-radius: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    color: #376FFF;
    width: 208px;
    height: 60px;
}

.footer__checkobox {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: #C1D3DE;
}


.footer__link {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: #C1D3DE;
}

.footer__container-for-button {
    display: flex;
    align-items: center;


}

.footer__div-for-input {
    margin-bottom: 10px;
}

.footer_checkbox-img {
    margin-left: 10px;
    margin-right: 10px;
}