.info {
    background-color: rgba(237, 244, 250, 1);
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    color: #242A56;
    display: flex;
    justify-content: center;

}

.info__logo {
    background-color: rgba(251, 247, 241, 1);
    display: flex;
    justify-content: space-around;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

.info__container {
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}