.header__about-us-text,
.main-about-us__container,
.why-we,
.main-numbers,
.main-trust__container,
.footer__container {
    width: 73%;
    margin: 0 auto;
}

.header {
    height: 496px;
    background-image: url(/assets/images/page5/about_us_header.png);
    width: 100%;
    max-width: 100%;
}

.header__nav-container {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 24px;
}

.link {
    text-decoration: none;
    color: white;
    padding: 18px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.link:hover {
    text-decoration: underline;
    color: white;
}

.header__btn {
    padding: 15px;
    margin: 10px;
    color: white;
    background-color: Transparent;
    font-family: 'Inter', sans-serif;
    border: 1px solid #C1D3DE;
    border-radius: 12px;
}

.header__btn-clr {
    color: #C1D3DE;
    margin-right: 30px;
}

.header__text {
    color: white;
}

.header__text-inner {
    width: 560px;
    height: 163px;
}

.header__h1 {
    font-family: 'Inter', sans-serif;
    font-size: 68px;
    font-weight: 900;
    margin-top: 80px;
}

.header__p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}




.p-400 {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.h2-bolt-700 {
    font-weight: bold;
    
    font-family: 'Inter', sans-serif;
}

.main-about-us {
    background-color: #EDF4FA;
}

.main-about-us__h2 {
    color: #242A56;
    padding-top: 80px;
}

.main-about-us-text {
    color: #393A56;
}

.main-about-us-text {
    padding-top: 15px;
}

.li {
    padding: 10px;
}

.main-about-us-back {
    background-color: #FBF7F1;
    border: 1px solid #C1D3DE;
    border-radius: 12px;
    padding: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-about-us-end {
    padding-top: 30px;
    padding-bottom: 80px;
}



.why-we__container {
    display: flex;
    margin-bottom: 50px;
}
.why-we-photo__container {
    padding-right: 20px;
}
.why-we__h3 {
    font-family: 'Inter', sans-serif;
    font-size: 38px;
    font-weight: 900;
    margin-top: 80px;
}
.main-selest__table-bold {
    font-weight: bold;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}


.main-numbers-bg {
    display: flex;
    align-items: center;
    color: white;
    background-color: #393A56;
    height: 328px;
}

.main-numbers {
    display: flex;
    padding-bottom: 60px;
}

.main__numbers-text {
    width: 800px;
    height: 132px;
}

.main-numbers__h4 {
    font-size: 38px;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-numbers__p {
    font-size: 26px;
    font-family: 'Inter', sans-serif;
}

.main__numbers-column {
    display: flex;
}
.bolt-700 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 68px;
}
.norm-400 {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}


.main-trust__container {
    padding-top: 40px;
    padding-bottom: 60px;
}
.main-trust__images img {
    /* margin: 10px; */
    max-width: 180px;
}

.main-trust__h2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

.main-trust__images {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 10px;

}

.main-trust__telephon-container {
    display: flex;
    background-color: #376FFF;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
}

.main-trust__telephon {
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.main-trust__h2-white {
    font-size: 28px;
    font-weight: 900;
    color: white;
}

.main-trust__p {
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

.main-trust__telephon-container div {
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-trust__telephon-text {
    max-width: 40%;
}


.footer {
    background-color: rgba(237, 244, 250, 1);
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    align-self: center;
}

.footer__container-left {
    display: flex;
    flex-direction: column;
}

.footer__innercontainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-top: 20px;
}

.footer__text {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
}

.footer__text-grey {
    color: #8B9BAB;
}

.footer__text-blue {
    text-decoration-line: underline;
    color: #376FFF;
}

.footer__text-dark {
    color: #393A56;
}

.text-blue {
    padding-top: 35px;
}

.footer__text-bottom {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: #8B9BAB;
}

.footer__img {
    border-radius: 10px;
}

.footer__form {
    background-color: #376FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 50px;

}

.footer__input {
    background: #376FFF;
    border: 1px solid #C1D3DE;
    border-radius: 8px;
    height: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #C1D3DE;
    width: 90%;
    padding-left: 10px;
}
.footer__input:focus {outline: 0;}

.footer__input-big {
    height: 120px;
    padding-top: 10px;
}

.footer__header {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    color: #FFFFFF;
}

.footer__form-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.footer__button {
    background: #FFFFFF;
    border-radius: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    color: #376FFF;
    width: 208px;
    height: 60px;
}
.footer-vector {
    padding-left: 5px;
}
.footer__checkobox {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: #C1D3DE;
}


.footer__link {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: #C1D3DE;
}

.footer__container-for-button {
    display: flex;
    align-items: center;
}

.footer__div-for-input {
    margin-bottom: 10px;
}

.footer__checkbox-img {
    margin-left: 10px;
    margin-right: 10px;
}